*{
    padding:0px;
    margin:0px;
}
body,p,.reset,.dec,.inc{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    flex-direction: column;
    height:100vh;
}
.Container{
    width:60%;
    background-color: aqua;
    border:1px solid black;
    padding:20px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px ;
}
.p{
    width:40%;
    height: fit-content;
    border:1px solid black;
   
}
.dec,.inc{
    border:1px solid black;
    width:25%;
    height:10vh;
}
button{
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size:15px;
    padding:5px;
}
.decrement,.increment{
    color:white;
}
.inc{
    background-color: green;
}
.dec{
    background-color: red;   
}
p{
    font-size:20vw;
}
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttonreset{
    width:30%;
    background-color:blue;
    border:1px solid black;
    color:white;
    height: 10vh;
}

@media screen and (max-width:375px) {
    .Container{
        background-color: gray;
    }   
    .top{
        flex-direction: column;
    }
    .dec,.inc, #buttonreset{
        width:80%;
        height:5vh;
        margin:2vh;
    }
    .p{
        order:-2;
        width:80%;
    }
    p{
        font-size:50vw;
    }
    .inc{
        order:-1;
    }
    .top{
        margin-bottom: 0px;
    }
}